/* Main page with stikky-footer */
html,
body {
  /*height: 100%;*/
  background-color: #fff;
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  /*border-top: 3px solid #337ab7;*/
}

ul p {
  margin-bottom: 5px;
}
ul li {
  margin-bottom: 5px;
}

.h3,
h3 {
  font-size: 23px;
  line-height: 37px;
}

h3.intro {
  line-height: 33px;
}

.post-date {
  color: #aaa;
  text-transform: uppercase;
  font-size: 12px;
}

a.image {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

code {
  color: #555;
  background-color: #f0f0f0;
}

blockquote {
  opacity: 0.6;
}

.highlight {
  margin: 20px 0;
}

section#recent-posts {
  margin-top: 30px;
}

#recent-posts h3 {
  color: #aaa;
}

#recent-posts .panel {
  margin-bottom: 0;
}

#recent-posts a.view-all {
  display: block;
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  /* text-transform: uppercase; */
}

#about h3 {
  font-size: 19px;
  margin-top: 18px;
}

#about .avatar {
  padding-top: 16px;
  margin-bottom: 40px;
}

#about .social-links {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  margin-top: 35px;
  /*margin-bottom: 10px;*/
}

/*h4 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}*/

/* Wrapper for page content to push down footer */
#wrap {
  /*padding-bottom: 50px;*/
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

.navbar-default {
  /* text-transform: uppercase; */
  margin-bottom: 0;
}

/* Navbar */
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default a.active,
.navbar-default .navbar-nav > li > a.active {
  color: black;
}
.navbar-default a.active:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #777;
}

.navbar-default {
  margin-top: 16px;
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #999;
  /* font-weight: bold; */
  font-size: 20px;
}

.navbar-default a.navbar-brand.active,
.navbar-default .navbar-nav > li > a.navbar-brand.active {
  /* green */
  color: #999;
}

.navbar-default .navbar-right {
  font-size: 18px;
  line-height: 20px;
}
.navbar-default .navbar-right li {
  margin-left: 20px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #111;
}
.navbar-default .navbar-text {
  color: #999;
}
.navbar-default .navbar-nav > li > a {
  color: #999;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #111;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS */
.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #337ab7;
}
.container a:hover {
  color: #133a67;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 27px;
  font-size: 18px;
}

.panel-default h5.post-date {
  font-size: 15px;
  line-height: 27px;
}

.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a,
h5 a {
  color: #337ab7;
}
.panel-default h4 a:hover,
h5 a:hover {
  color: #133a67;
}
.panel {
  border-style: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: -10px;
  /*padding-bottom: 34px;*/
  text-align: left;
}

.social-container {
  width: 100%;
  max-width: 100%;
  background: white;
  position: fixed;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  /* left: 15px; */
  /* padding-right: 25px; */
}

.social-links {
  display: block;
  margin: 0 auto;
  /* margin-top: 40px; */
  margin-top: 22px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}
.social-links li {
  display: inline-block;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}
.social-links li a {
  font-size: 28px;
  color: #aaa;
  padding: 10px;
  padding-bottom: 4px;
}
.social-links li a:hover {
  color: #555;
}
.blog-post {
  text-align: left;
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  align-items: flex-end;

  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
}
.blog-title {
  /* display: flex;
  justify-content: space-between; */
  /* text-align: left; */
  /* padding-top: 2px; */
  /* max-width: 600px; */
  /*margin: auto;*/
  margin-left: 0;
}
.blog-title h4 {
  margin-top: 3px;
  color: #aaa;
}
.blog-title h4.post-date {
  font-size: 14px;
  /* margin-bottom: 0; */
  margin-bottom: 12px;
  margin-top: 14px;
  min-width: 160px;
  text-align: right;
}

.related-posts h6.post-date {
  font-size: 13px;
  line-height: 17px;
}

.single-blog-post .tags-and-date {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.single-blog-post .tags {
  text-align: left;
  margin-bottom: 10px;
}
.single-blog-post .tags .tag {
  display: inline-block;
  line-height: 15px;
  font-size: 11px;
  font-weight: bold;
  color: #999;
  background-color: #f5f5f5;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 5px;
  text-transform: uppercase;
}
.single-blog-post .tags .tag:hover {
  text-decoration: none;
  color: #133a67;
}

.related-posts {
  margin-top: 70px;
  margin-bottom: 30px;
}

.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
  padding-bottom: 20%;
}
img.lost-gif {
  margin-top: 20px;
}
.disqus {
  padding-bottom: 75px;
}
.blogpost {
  text-align: left;
  line-height: 30px;
  font-size: 16px;
}

.blogpost h1 {
  margin-bottom: 30px;
  margin-top: 45px;
}

.blogpost h3,
.blogpost h2 {
  margin-top: 36px;
  margin-bottom: 14px;
}
/* .blog-post h3 {
  line-height: 34px;
  font-weight: bold;
} */

.panel-body hr {
  margin-top: 42px;
}

/* Footer  */
.footer {
  text-decoration: none !important;
}
.text-muted {
  color: #6b6b6b;
}
/*div.footer {
  border-bottom: 5px solid #337ab7;
}*/
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;

}*/

img.lightbox.thumb {
  margin: 14px 0;
  max-width: 100%;
}

.container.tags {
  padding-bottom: 50px;
}

.container.tags .tag-row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container.tags .tag-row .comma {
  margin-right: 4px;
}

.container.tags .tag-row .comma:last-child {
  display: none;
}

.container.tags .letter {
  font-size: 21px;
  font-weight: bold;
  border-bottom: 1px solid #777;
  margin-bottom: 10px;
  text-align: left;
}

.container.tags a.tag {
  font-size: 18px;
  text-decoration: none;
}

.homepage section#recent-posts .post-date,
.related-posts h6.post-date {
  text-align: right;
}

/* Responsive CSS for mobile */
@media only screen and (max-width: 700px) {
  section#recent-posts {
    padding-bottom: 100px;
  }
  .homepage section#recent-posts .post-date,
  .related-posts h6.post-date {
    text-align: left;
  }

  .navbar-default #navbar ul.nav.navbar-nav.navbar-right {
    display: flex;
  }
  .navbar-default #navbar ul.nav.navbar-nav.navbar-right li {
    border-right: 1px solid #ccc;
  }
  .navbar-default #navbar ul.nav.navbar-nav.navbar-right li:last-child {
    border-right: none;
  }
  .navbar-default #navbar ul.nav.navbar-nav.navbar-right {
    text-align: left;
  }
  /* .navbar-default #navbar ul.nav.navbar-nav.navbar-right li {
    margin-left: 10px;
  } */
  .navbar-default #navbar ul.nav.navbar-nav.navbar-right li a {
    padding-left: 0;
    /* font-weight: bold; */
  }

  .blog-post {
    margin-top: 0;
  }

  /* img.lightbox.thumb {
    max-width: 92%;
  } */
}

.slick-prev:before,
.slick-next:before {
  color: #888;
}
.slick-prev {
  left: -60px;
}
.slick-next {
  right: -60px;
}

.toc h3 {
  margin-top: 0;
}

.toc ul li {
  margin: 5px 0;
}
