[submodule "themes/herring-cove"]
	path = themes/herring-cove
	url = https://github.com/spf13/herring-cove.git
[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain.git
