{{ partial "head" . }}
  <body>
    <div id="wrap">

      <!-- Header -->
      {{ partial "header" . }}
      {{ if isset .Params "showpagemeta" }}
        {{ .Render "projects" }}
      {{ else }}
      <div class="container single-blog-post">

        <div class="blog-post">
          <h3>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
        </div>

        <div class="tags-and-date">
          <div class="tags">
            {{ range .Params.tags }}
              <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}&nbsp;&nbsp;</a>
            {{ end }}
          </div>
          <div class="blog-title">
            <h4 class="post-date">
            {{ .Date.Format "January 2, 2006" }}
            </h4>
          </div>
        </div>



        <div class="panel panel-default">
          <div class="panel-body">
            <div class="blogpost">
              {{ .Content }}

              <div class="related-posts">
                <h5>Related Posts</h5>
                {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
                  <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <h6 class="post-date">
                        {{ .Date.Format "January 2, 2006" }}
                      </h6>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                      <h6 style="text-align: left">
                        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                      </h6>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>

        {{ partial "disqus" . }}

        </div>
      </div>
      {{ end }}
    </div>

    <!-- Footer -->
    {{ partial "footer" . }}

  </body>
</html>
