{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container tags">
        <!--<h3>All Posts</h3>-->
        <div class="panel panel-default">
          <div class="panel-body">
            {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}
            {{ range sort .Data.Pages }}
              <!-- get the first character of each title. Assumes that the title is never empty! -->
              {{ $firstChar := substr .Title 0 1 | upper }}

              <!-- in case $firstChar is a letter -->
              {{ if $firstChar | in $letters }}
                <!-- get the current letter -->
                {{ $curLetter := $.Scratch.Get "curLetter" }}
                <!-- if $curLetter isn't set or the letter has changed -->
                {{ if ne $firstChar $curLetter }}
                  {{ if ne $curLetter "" }}
              </div>
            </div>
                  {{ end }}
            <div class="tag-row row">
              <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                  <!-- update the current letter and print it -->
                  {{ $.Scratch.Set "curLetter" $firstChar }}
                <div class="letter">{{ $firstChar }}</div>
                {{ end }}
              {{ end }}
                <a class="tag" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><span class="comma">,</span>
            {{ end }}

              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <!--{{ partial "footer" . }}-->
  </body>
</html>

