{{ $currentPage := . }}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand{{ if .IsHome }} active{{end}}" href="{{ .Site.BaseURL }}">
        Made By Nathan
      </a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
      {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
        <li><a {{if $currentPage.IsMenuCurrent "main" . }}class="active" {{end}}href="{{ .URL }}">
          {{ .Name }}</a>
        </li>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
</nav>
