{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
          <div class="avatar">
            <img class="img-circle" src="https://www.gravatar.com/avatar/4931eceec58528529fd004e56af197c4?s=300" alt="Responsive image" style="width: 150px; height: 150px;">
          </div>

          <h3>Hi, I'm {{ .Site.Params.author }}. I enjoy making things.</h3>
          <h3>This is a blog where I write about some of my projects.</h3>

          {{ partial "social.html" . }}

        </div>
      </section>

      <section id="recent-posts">
        <div class="container">
          <!--<h3>Latest Posts</h3>-->
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range first 3 .Data.Pages.ByPublishDate.Reverse }}
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h5 class="post-date" style="text-align: right">
                    {{ .Date.Format "January 2, 2006" }}
                  </h5>
                  </div>
                  <div class="col-sm-8 col-md-8 col-lg-8">
                    <h5 style="text-align: left">
                    <strong>
                      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
                    </strong>
                  </h5>
                </div>
              </div>
            {{ end }}
            </div>

            <a class="view-all" href="/posts/">More Posts...</h3>
          </div>
        </div>
      </section>
    </div>
    <!--{{ partial "footer" . }}-->
  </body>
</html>
